[Unit]
Description=Daily update of vmu-packer templates from upstream git repository

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
